 .table {
            background-color: yellow;
            border: 1px solid black;
            
        }
 th,td {
            border: 1px solid black;
            text-align: center;
            
        }
.caption {
            font-weight: bold;
            font-size: 18px;
            margin-bottom: 10px;
        }

